<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 리스트</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- 네비게이션 바 포함 -->
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container mt-5">
    <h1 class="text-center mb-4">상품 리스트</h1>
    <div class="row">
        <div class="col-md-4" th:each="item : ${items}">
            <div class="card mb-4">
                <!-- 나중에 s3같은 거 쓰면 사용할 것-->
<!--                <img th:src="@{${item.imageUrl}}" class="card-img-top" alt="상품 이미지"> &lt;!&ndash; 상품 이미지 URL &ndash;&gt;-->
                <img src="img/product-img/product2.jpg" class="card-img-top" alt="상품 이미지"> <!-- 상품 이미지 URL -->

                <div class="card-body">
                    <h5 class="card-title">
                        <a th:href="@{/product/{id}(id=${item.id})}" th:text="${item.itemName}"></a>
                    </h5>
                    <p class="card-text" th:text="${item.itemDetail}">상품 설명이 들어갑니다.</p>
                    <p class="card-text"><strong th:text="'가격: ' + ${item.price} + '원'"></strong></p>
                    <a href="#" class="btn btn-primary">구매하기</a>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
