<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 상세보기</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <!-- 왼쪽: 상품 이미지 -->
            <img src="/img/product-img/product2.jpg" class="img-fluid" alt="상품 이미지">
        </div>
        <div class="col-md-6">
            <!-- 오른쪽: 상품 설명 및 정보 -->
            <h1 th:text="${item.itemName}">상품 이름</h1>
            <p th:text="'가격: ' + ${item.price} + '원'"></p>
            <p th:text="${item.itemDetail}"></p>
            <p th:text="'재고: ' + ${item.stockNumber}"></p>
            <a href="/products.do" class="btn btn-secondary">목록으로 돌아가기</a>
<!--            <form th:action="@{/cart/add/{itemId}(itemId=${item.id})}" method="post">-->
<!--                <button type="submit" class="btn btn-secondary">장바구니에 담기</button>-->
<!--            </form>-->
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div style="margin-top: 50px"></div>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
