<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>푸터</title>
</head>
<body>
<footer class="bg-dark text-white text-center py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>회사 정보</h5>
                <p>회사명: 예시 회사</p>
                <p>주소: 서울특별시 예시구 예시동</p>
                <p>전화: 010-1234-5678</p>
            </div>
            <div class="col-md-4">
                <h5>링크</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">홈</a></li>
                    <li><a href="#" class="text-white">서비스</a></li>
                    <li><a href="#" class="text-white">연락처</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>소셜 미디어</h5>
                <a href="#" class="text-white me-2"><i class="bi bi-facebook"></i> 페이스북</a>
                <a href="#" class="text-white me-2"><i class="bi bi-twitter"></i> 트위터</a>
                <a href="#" class="text-white"><i class="bi bi-instagram"></i> 인스타그램</a>
            </div>
        </div>
        <hr class="my-4">
        <p>© 2024 예시 회사. 모든 권리 보유.</p>
    </div>
</footer>

</body>
</html>